:root {
  --text: #5C6B78;
  --text-h: #1B2633;
  --bg: #fff;
  --border: #D9E2EA;
  --code-bg: #F7F7F7;
  --accent: #16324F;
  --accent-bg: rgba(22, 50, 79, 0.1);
  --accent-border: rgba(22, 50, 79, 0.5);
  --social-bg: rgba(244, 247, 250, 0.5);
  --shadow:
    0 2px 8px rgba(16, 42, 67, 0.06), 0 4px 12px rgba(16, 42, 67, 0.04);

  --sans: Inter, system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: Inter, system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/145% var(--sans);
  letter-spacing: 0;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 15px;
  }
}

#root {
  width: 100%;
  min-height: 100svh;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #fff;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 600;
  color: var(--text-h);
}

h1 {
  font-size: 32px;
  letter-spacing: -0.04em;
  margin: 24px 0;
  @media (max-width: 1024px) {
    font-size: 28px;
    margin: 16px 0;
  }
}
h2 {
  font-size: 22px;
  line-height: 118%;
  letter-spacing: -0.02em;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 14px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
