;why do i have this ?
;The line legacy-peer-deps=true` in your `.npmrc` file is used to tell npm to ignore peer dependency conflicts when installing packages. 
;This can be useful if you're working with older packages that have peer dependencies that may not be compatible 
    ;with the versions of other packages you are using.
legacy-peer-deps=true
